@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700;900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600&display=swap");
$sec-hover-color: #601cfc;
$main-hov-col: #0d6efd;
$section-color: #000016;
header.page-header {
  .navbar {
    position: fixed;
    width: 100%;
    z-index: 999;
    .navbar-nav {
      a {
        &:hover {
          color: $sec-hover-color;
        }
      }
    }
  }
  main {
    .container {
      min-height: 100vh;
    }
    @media (max-width: 768px) {
      text-align: center;
    }
    button {
      transition: 0.4s ease;
      &:hover {
        transform: scale(1.2);
      }
    }
    .social-icons {
      a {
        i {
          &:hover {
            color: $main-hov-col;
          }
        }
      }
    }
  }
}
section.skills {
  .container {
    i,
    img {
      transition: 0.4s ease;
      &:hover {
        transform: scale(1.2);
      }
    }
    @media (max-width: 767px) {
      img.ajax {
        max-width: 40%;
      }
    }
  }
}
section.projects {
  min-height: 100vh;
  background-color: $section-color;
  .card {
    transition: 0.4s ease;
    overflow: hidden;
    &:hover {
      transform: scale(1.1);
      img {
        opacity: 0.6;
      }
    }
  }
}
footer {
  background-color: $section-color;
}
