@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700;900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600&display=swap");
header.page-header .navbar {
  position: fixed;
  width: 100%;
  z-index: 999;
}
header.page-header .navbar .navbar-nav a:hover {
  color: #601cfc;
}
header.page-header main .container {
  min-height: 100vh;
}
@media (max-width: 768px) {
  header.page-header main {
    text-align: center;
  }
}
header.page-header main button {
  -webkit-transition: 0.4s ease;
  transition: 0.4s ease;
}
header.page-header main button:hover {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}
header.page-header main .social-icons a i:hover {
  color: #0d6efd;
}

section.skills .container i,
section.skills .container img {
  -webkit-transition: 0.4s ease;
  transition: 0.4s ease;
}
section.skills .container i:hover,
section.skills .container img:hover {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}
@media (max-width: 767px) {
  section.skills .container img.ajax {
    max-width: 40%;
  }
}

section.projects {
  min-height: 100vh;
  background-color: #000016;
}
section.projects .card {
  -webkit-transition: 0.4s ease;
  transition: 0.4s ease;
  overflow: hidden;
}
section.projects .card:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}
section.projects .card:hover img {
  opacity: 0.6;
}

footer {
  background-color: #000016;
}